AnchorPane {
    -fx-background-image: url("../images/eriantys.jpg");
    -fx-background-size: cover;
    -fx-background-position: center;
}

ChoiceBox{
    -fx-font-size: 14;
    -fx-text-fill: #000;
}

Label {
    -fx-font-size: 24;
    -fx-text-fill: #fff;
}

TextField{
    -fx-font-family: 'Du Bellay Italic';
    -fx-background-color: rgba(256, 256, 256, 0.5);
}

TextArea{
    -fx-font-family: 'Du Bellay Italic';
    -fx-font-size: 18;
    -fx-background-color: transparent;
}

.button {
    -fx-font-family: 'Du Bellay Italic';
    -fx-font-size: 22;
    -fx-text-fill: #fff;
    -fx-alignment: center;
    -fx-border-radius: 30px;
    -fx-background-size: cover;
    -fx-background-image: url("../images/button1.png");
    -fx-background-radius: 5em;

}

.text {
    -fx-font-family: 'Du Bellay Italic';
}