@font-face {
    font-family: 'Du Bellay';
    src: url("../fonts/dubellay.ttf");
}

@font-face {
    font-family: 'Du Bellay Italic';
    src: url("../fonts/dubellit.ttf");
}

ChoiceBox{
    -fx-font-size: 14;
    -fx-text-fill: #000;
    -fx-background-color: rgba(256,256,256, 0.5);
}


.customText {
    -fx-font-family: 'Du Bellay Italic';
    -fx-text-fill: #fff;
}

.button {
    -fx-font-family: 'Du Bellay Italic';
    -fx-font-size: 22;
    -fx-text-fill: #fff;
    -fx-alignment: center;
    -fx-background-size: cover;
    -fx-background-image: url("../images/button1.png");
    -fx-background-radius: 5em;
}

ChoiceBox{
    -fx-font-size: 14;
    -fx-text-fill: #000;
}

CheckBox{
    -fx-font-family: 'Du Bellay Italic';
}

TextArea{
    -fx-font-family: 'Du Bellay Italic';
    -fx-font-size: 18;
    -fx-background-color: rgba(53,89,119,0.4);
    -fx-text-fill: #fff;
}

TextArea .scroll-pane {
    -fx-background-color: transparent;
}

TextArea .scroll-pane .viewport{
    -fx-background-color: transparent;
}


TextArea .scroll-pane .content{
    -fx-background-color: transparent;
}

CheckBox .box {
    -fx-font-family: 'Du Bellay Italic';
    -fx-background-color: rgba(256, 256, 256, 0.5);
}

.button:hover {
    -fx-font-family: 'Du Bellay Italic';
    -fx-effect: dropshadow(gaussian, #f2e0d6, 20, 0.3, 0, 0);
    -fx-font-size: 16;
    -fx-alignment: center;
    -fx-cursor: hand;
    -fx-background-radius: 5em;
}

AnchorPane {
    -fx-background-image: url("../images/Eriantys.jpg");
    -fx-text-fill: #fff;
    -fx-background-size: cover;
}

Label {
    -fx-font-size: 24;
    -fx-text-fill: #fff;
}


.text {
    -fx-font-family: 'Du Bellay Italic';
}